*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  padding: 0;
    height:100%;
  
}
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

/*-------------------TOP SECTION---------------------*/

.parallax {
  background: url('../images/simple.jpg') 50% 0 repeat fixed;
  height:100vh;
  margin: 0 auto; 
  width: 100%; 
  position: relative;
}
.pages { 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
<<<<<<< HEAD
.background1 {
    text-align: center;
  color:#B1B1B1;
  position: relative;
  background-color: rgba(51, 51, 51, .5);
  z-index: 0;
  text-shadow:2px 2px #000;
  height:100vh;
}
=======
>>>>>>> c3bc264ebbfe28f32b0d3cda48fa40563f25d46a
.background {
  text-align: center;
  color:#B1B1B1;
  position: relative;
<<<<<<< HEAD
  background-color: rgba(51, 51, 51, .4);
=======
  background-color: rgba(51, 51, 51, .8);
>>>>>>> c3bc264ebbfe28f32b0d3cda48fa40563f25d46a
  z-index: 0;
  text-shadow:2px 2px #000;
  height:100vh;
}
.main-header {
  font-family: Century Gothic, sans-serif;
  text-align: center;
  padding-top:180px;
  transition: all .25s ease;
}
.content img {
 height:65px;
}

.nav * {
  -webkit-transition: .4s;
  transition: .4s;
  list-style: none;
  z-index: 10;
  font-family: Century Gothic, sans-serif;
  font-size: 1.25em;
}

nav {
  position: fixed;
  z-index: 5;
  padding:20px;
}
nav ul li ul li a {
    background-color: #2C3E50;
}
.mark {
  font-weight: 400;
}

/*
  navigation bar
*/

.nav {
  list-style: none;
}

/* 
  top menu list items

  1. stack top links side by side 
  2. needed for absolute positioning of   submenu
*/

.nav li {
  float: left;
  /*1*/
  position: relative;
  /*2*/
  background: transparent;
}

.nav > li:first-of-type,
.nav > li:first-of-type a {
  /* 2 */
  border-radius: 5px 0 0 5px;
    color:#C2C2C2;
}

.nav > li:last-of-type,
.nav > li:last-of-type a {
  /* 2 */
  border-radius: 0 5px 5px 0;
}

.nav li a {
  display: block;
  padding: 12px 14px;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  text-shadow: 2px 2px 0px black;
    color:#C2C2C2;
}

.nav:hover li a {
  opacity: .5;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.nav li:hover a {
  opacity: 1;
}

.submenu {
  position: absolute;
  /*1*/
  border-top: 15px solid transparent;
  /*2*/
  left: -9999px;
}

.nav li:hover > .submenu {
  left: 0;
}

.has-submenu:after {
  position: relative;
  content: "";
  top: 10px;
  margin: 0 -2px 4px 5px;
  /* borders to make down arrow */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3498DB;
  opacity: .7;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.nav > li:hover .has-submenu:after {
  opacity: 1;
}

/*
  CSS up arrow for submenu

  1. add spacing between top menu and arrow
  2. Hide off screen

*/

.submenu:before {
  content: "";
  position: absolute;
  z-index: 1;
  /* bring in front of border */
  margin-top: 5px;
  /*1*/
  left: -9999px;
  /*2*/
  top: -15px;
  /* borders for up arrow */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #34495e;
}

/*
  1. make arrow reappear and move away from left side
*/

.nav li:hover .submenu:before {
  left: 15px;
  /*1*/
}

/* 
  1. prevent multi line submenu items 
  2. tidy up padding on submenu items
*/

.submenu li {
  white-space: nowrap;
  /*1*/
  padding: 1px;
  /*2*/
}

/*
  make links with submenu bold 
*/

.has-submenu {
  font-weight: 500;
}

/* 
  submenu rounded corners

  1. top rounded edges on submenu
*/

.submenu > li:first-of-type {
  border-radius: 5px 5px 0 0;
  /*1*/
}

/*
  1. bottom rounded edges on submenu
*/

.submenu > li:last-of-type {
  border-radius: 0 0 5px 5px;
  /*1*/
}

/* 
  persistant top level hover state 
  when submenu displays 
*/

.nav > li:hover > a {
  background: #2C3E50;
  -webkit-transition: background ease .5s;
  transition: background ease .5s;
}

/* 
  submenu links 

  styles are inherited from .nav li a, so some adjustments are made here.

  1. make slightly smaller
  2. margin means on hover bg doesn't touch the edges
  3. add transition
*/

.submenu a {
  font-size: 90%;
  /*1*/
  margin: 3px;
  /*2*/
  border-radius: 5px;
  -webkit-transition: background ease .3s;
  transition: background ease .3s;
  /*3*/
}

/* 
  submenu hover styles
*/

.submenu a:hover {
  background: #3498DB;
}

nav select {
  display: none;
    color:#0081C1;
    font-weight:700;
/*    background-color:#2E2E2E;*/
/*    text-shadow:2px 2px black;*/
    border:2px solid #1F1F1F;
    height:35px;
}

/* hide - prefix on submenu */

.nav span {
  display: none;
}

/* media queries */

@media only screen and (max-width: 767px) {
  /* hide nav */

  .nav {
    display: none !important;
  }

  /* show menu */

  nav select {
    display: inline-block;
  }

  /* show - prefix on sub items */

  .nav span {
    display: inline;
  }
}

.top .nav {
  position: fixed;
}

#bio {
  font-family: Century Gothic, sans-serif;
  font-size: 1.5em;
  letter-spacing: .8px;
  text-align: right;
  padding-top: 1px;
/*  padding-right: 30px;*/
/*  padding-bottom: 50px;*/
  /*  display: none;*/
}

.spacer {
  padding-top: 300px;
}

.container .headerExpand {
  padding: 2px;
  text-align:center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
/*  margin-right:-70px;*/
    padding-top:35px;
}
.headerExpand span {
    font-weight:100;
}
.container .headerExpand:hover {
    color:#fff;
    text-shadow:2px 2px #004A6C;
    font-size:2em;
    transition:1s;
}
.container .content {
  display: none;
  padding: 5px;
    text-align:center;
/*    margin-right:-80px;*/
}


.project a {
  color: RGBA(0, 206, 274, 1);
  text-decoration: underline;
}

#desc {
  -webkit-transition: .5s;
  transition: .5s;
}

.hint {
  font-size: .5em;
  text-align: center;
}

span {
  font-size: 1.8em;
}

h2,
h4 {
  font-weight:100;
  line-height: 1em;
  padding-right: 5px;
  color:#C2C2C2;
    text-shadow:2px 2px black;
  transition: all .5s ease;
}
h2:hover {
    color:#fff;
    text-shadow:2px 2px #004A6C;
    font-size:4.3em;
    transition:.7s;
}
h4 {
  text-align: right;
}

.content ul li {
  list-style-type: none;
  display: inline;
}

/*-----------------dynamic JS classes------------*/

.vanish {
  -webkit-transform: translateY(-220px);
  -ms-transform: translateY(-220px);
  transform: translateY(-220px);
}

.iOSBackground {
  position: relative;
  background-width: 640px;
  background-height: 960px;
  background-position: center-center;
}

.iconMove {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: right;
  background-color: #00001E
  width: 100%;
  display: inline-block;
    z-index:30;
}

.iosIcons {
  text-align: middle;
  display: inline-block;
  padding-right: 0px;
}

.mobile-header {
  position: relative;
}

.fa-angle-double-down {
  position: fixed;
  bottom: -10px;
  margin: 0 auto;
  text-align: middle;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  font-size: 4em;
}

/*------------------LINKS-------------------------*/
#me {
 height:180px;
/*    margin-top:25px;*/
}
#about {
 background: url('../images/coloredpencils.jpeg') 50% 0 repeat fixed; 
  min-height: 100%;
    z-index:-1;
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#about article {
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
#projects {
 background: url('../images/coloredpencils.jpeg') 50% 0 repeat fixed; 
 height:60vh;
    z-index:-1;
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.span4 img{
  height: 60vh;
}
.span4.description {
 height:30vh;
 border: 1px solid black;
    background-color: #333;
}
.span4 a:hover {
 background-color:blue;
 opacity:.5;
}
#experience {
background: url('../images/coloredpencils.jpeg') 100% 0 no-repeat fixed; 
/*    border-bottom:20px solid #272727;*/
/*    min-height: 100%;*/
  height: 100vh; 
    z-index:-1;
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
/*  box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}

#experience article {
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

#logos {

background: url('../images/thankscoffee.png') 0% 0 no-repeat fixed;

/*background: url('../images/coffeecup2.png') 0% 0 no-repeat fixed;*/
  height:100vh;
    z-index:-1;
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#logos .background {
    height:100vh;
}
#logo {
 height:800px;   
}
#logos article {
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
#academy {
 height:180px;
 margin-top:100px;
}
#mail {
  padding-left: 30px;
}

#git {
  padding-right: 30px;
}

.fa-tumblr-square {
  padding-left: 30px;
}

.screenShots p {
  padding-top: 25px;
}

.screenShots a {
  font-size: 1.5em;
  margin-bottom: 100px;
}

/*----------------------BOTTOM CONTENT----------------------*/

.project-container {
/*  height: 45px;*/
}

.project-container2 {
  padding-top: 75px;
  padding-bottom: 100px;
}



.description-box {
  max-width: 100%;
  min-height: 400px;
  text-align: center;
}

.project-p {
  padding-top: 50px;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 2.75em;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: underline;
  margin-bottom: 75px;
}

.project {
  text-align: center;
  margin: 0 auto;
  max-height: 500px;
  border-radius: 25%;
}

.project a {
  color: RGBA(0, 75, 195, 1);
  text-decoration: underline;
}

h3 {
  color: #ddd;
  text-shadow: 0px 4px 4px black;
}

#build {
  color: RGBA(190, 190, 190, .7);
}

h5 {
  color: RGBA(0, 176, 244, 1);
  font-size: 1.5em;
  line-height: 25px;
}
.profile {
  text-align: center;
  margin: 0 auto;
}

.profile p {
  font-family: Century Gothic, sans-serif;
  color: #F9F9F9;
  font-weight: 100;
/*  text-shadow: 4px 0px 4px black;*/
  font-size: 2em;
  line-height: 50px;
  position: relative;
/*  bottom: -50px;*/
}
/*----------------------RESPONSIVENESS-----------------------*/

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
      .parallax {
        background: url('../images/simplesmall.png') no-repeat center center fixed; 
          -webkit-background-size: cover;
        background-size: cover;
        background-color:gray;
    }
    #experience, #projects, #about {
        background: url('../images/coloredpencilsmall.png') no-repeat center center fixed; 
        background-size: cover;
        -webkit-background-size: cover;
        background-color:#282828;
        overflow:scroll;
        

    }
    #logos {
     background: background: url('../images/coffeecupsmall.png') 50% 0 repeat fixed;  

    }
}
@media screen and (max-width: 600px) {
/*
    .parallax {
        background: url('../images/simplesmall.png') 50% 0 repeat fixed;
*/
/*        background-size: cover;*/
/*        background-color:gray;*/
    }
/*
    #experience, #projects, #about {
        background: url('../images/coloredpencilssmall.png') 50% 0 repeat fixed;
*/
/*        background-size: cover;*/
/*        background-color:#282828;*/
/*        overflow:scroll;*/
        

/*
    }
    #logos {
     background: background: url('../images/coffeecupsmall.png') 50% 0 repeat fixed;  

    }
*/
    .row-fluid {
        padding-top:0px;
    }
    #experience .background, #projects .background {
     height:150vh;   
    }
    
  .main-header {
    left: 5px;
    top: 50px;
    width: 100%;
/*    text-align: left;*/
    padding-left: 0px;
  }
h2 {
    padding-bottom:0px;
    font-weight:1;
}
  h4 {
    padding: 15px 10px;
    font-size: .5em;
  }

  #bio {
    font-size: 1em;
    line-height: 14px;
    /*        letter-spacing: 1.2px;*/
    text-align: left;
    padding-left: 20px;
    
  }

  .main-header h2 {
    font-size: 3.5em;
  }
    .row-fluid {
        padding-top:0;
    }

}
@media screen and (min-width: 601px) and (max-width:767px) {

  .main-header h2 {
    font-size: 3.75em;
  }

  .main-header {
    top: 50px;
  }
    .parallax {
        background: url('../images/simplesmall.png') 0 0 repeat fixed;
/*        background-size: cover;*/
/*        background-color:gray;*/
    }
    #experience, #projects, #about {
        background: url('../images/coloredpencilssmall.png') 50% 0 repeat fixed;
/*        background-size: cover;*/
/*        background-color:#282828;*/
        overflow:scroll;
        

    }
    #logos {
     background: background: url('../images/coffeecupsmall.png') 50% 0 repeat fixed;  
    }
    #experience .background, #projects .background {
     height:150vh;   
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #bio {
    font-size: 1.3em;
    line-height: 18px;
  }

  .main-header {
    left: 20px;
    top: 60px;
  }

  .main-header h2 {
    font-size: 4em;
  }

  h1 {
    font-size: 33px;
    line-height: 30px;
  }

  #bio {
    font-size: 1.2em;
    line-height: 18px;
  }
}

@media screen and (min-width: 854px) and (max-height: 600px) {

  h1 {
    font-size: 33px;
    line-height: 30px;
  }

  h2 {
    font-size: 3.8em;
    font-weight: 100;
    
  }

  h4 {
    font-size: 1.8em;
    font-weight: 100;
  }

  #bio {
    font-size: 1.1em;
    line-height: 15px;
    letter-spacing: 1.2px;
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 30px;
    line-height: 28px;
  }

  #bio {
    font-size: 1.25em;
    letter-spacing: 1.5px;
    line-height: 1em;
  }
}

@media screen and (min-width: 1225px) {
  .project-container2 {
    padding-bottom: 0px;
  }
    
}

@media screen and (min-width: 1422px) {
  .main-header h2 {
    font-size: 5em;
  }

  .main-header {
    left: 60px;
  }
}

@media screen and (min-width: 1517px) {

  h2 {
    font-size: 4.8em;
    font-weight: 200;
  }

  h4 {
    font-size: 2.3em;
    font-weight: 100;
  }

}

@media screen and (min-width: 1680px) {
  .main-header h2 {
    font-size: 6em;
  }
   
}