
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Anglo;
    src: url(../fonts/ICE-CS.ttf);
}
@font-face {
    font-family: JustDieAlready;
    src: url(../fonts/JustDieAlready.ttf);
}
body {
    padding: 0;
}
/*-------------------TOP SECTION---------------------*/

.parallax {
    text-align: left;
    background: url('../images/tiger.jpg');
    background-position: 60% 80%;
    background-attachment: fixed;
    background-size: cover;
}
.background {
    text-align: left;
    position: relative;
    background-color: #003;
    color: RGBA(253, 253, 253, 1);
    opacity: .7;
    height: 100vh;
}
.main-header {
    color: RGBA(253, 253, 253, 1);
    position: absolute;
    font-family: 'Titillium Web', sans-serif;
    text-align: left;
    top: 50px;
    left: 40px;
    z-index: 2;
    position: fixed;
}
.main-header img {
    width: 40px;
    height: 40px;
    position: relative;
    left: 20px;
    bottom: 5px;
}
.main-header .icons {
    position: absolute;
    width: 100%;
    left: 30px;
    /*transition: 0s;*/
}
span {
    font-size: 1.8em;
}
h2, h4 {
    line-height: 1em;
    padding-right: 5px;
    color: RGBA(253, 253, 253, 1);
    transition: all .25s ease;
}
h4 {
    margin-bottom: 50px;
    padding-left: 5px;
}
hr {
    margin: 0;
}
/*-----------------dynamic JS classes------------*/
.vanish {
    transform: translateY(-220px);
}
.iconMove {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding-right:40px;
    padding-top:7px;
    padding-bottom:7px;
    text-align:right;
    background-color:RGBA(0, 0, 35, 1);
    width:100%;
    /*transition: 0s;*/
}
.fa-angle-double-down {
    position: fixed;
    bottom: 20px;
    margin: 0 auto;
    text-align: middle;
    transform: translateX(-50%);
    left: 50%;
}
/*------------------LINKS-------------------------*/

#about {
    right: 25px;
    position: relative;
    bottom: 4px;
    font-size: 2em;
}
#mail {
    padding-left: 30px;
}
#git {
    padding-right: 30px;
}
.main-header .fancybox p {
    font-size: .5em;
}
.screenShots p {
    padding-top: 25px;
}
/*.shrink {
    height:300px;
    overflow:hidden;
    display:block;
}*/
/*----------------------BOTTOM CONTENT----------------------*/

.screenShots {
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0);
    display: block;
}
.screenShots p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: RGBA(253, 253, 253, 1);
    z-index: 2;
}
.screenShots img {
    max-width: 95%;
}
.project1, .project2, .project3, .project4 {
    text-align: center;
    margin: 0 auto;
    /*max-height:400px;*/
    overflow:hidden;
    margin-bottom: 70px;
    /*min-width:100%;*/
    max-height:300px;
    
}
.project1 a img, .project2 a img, .project3 a img, .project4 a img {
    /*max-height:400px;*/
    /*height:100%;*/
    /*height:100%;*/
    /*min-width:90%;*/
    /*overflow:hidden;*/
    /*overflow:hidden;*/
    /*width:90%;*/
}
.fa-lg {
    font-size: 1.8em;
}
/*----------------------RESPONSIVENESS-----------------------*/

@media screen and (min-width: 320px) and (max-width: 767px) {
    .parallax {
        background-position: 60% 100%;
        /*max-height:100vh;*/
        /*width:100vw;*/
    }
    .fa-4x {
        font-size: 3em;
        transition:0s;
    }
    .fa-lg {
        font-size: 1.3em;
        transition:0s;
    }
    h2 {
        font-size: 3.5em;
    }
    h4 {
        font-size: 1.5em;
    }
    
}
@media screen and (min-width: 768px) {
    h2 {
        font-size: 3.8em;
        font-weight: 100;
    }
    h4 {
        font-size: 1.8em;
        font-weight: 100;
    }
    .main-header img {
        height: 50px;
        width: 50px;
        transition:0s;
    }
    .screenShots img {
        vertical-align: top;
        width: 100%;
    }
    .screenShots p {
        text-align: center;
    }
    .project1, .project2, .project3, .project4 {
        max-height:500px;
    }
}
@media screen and (min-width: 961px) {
    .project1, .project2, .project3, .project4 {
        /*width: 49%;*/
        display: inline-block;
        overflow:hidden;
        /*vertical-align: top;*/
    }
    .screenShots {
        margin: 0 auto;
        text-align: center;
    }
    .group a {
        width: 50%;
        float: left;
        vertical-align: top;
    }
    h2 {
        font-size: 4.8em;
        font-weight: 200;
    }
    h4 {
        font-size: 2.3em;
        font-weight: 100;
    }
    .main-header img {
        height: 60px;
        width: 60px;
    }
    /*.project1 a img, .project2 a img, .project3 a img, .project4 a img {
        max-height:600px;
    }*/
}
@media screen and (min-width: 1024px) {
    .main-header img {
        height: 70px;
        width: 70px;
    }
    .project1, .project2, .project3, .project4 {
        width: 49%;
        /*overflow:hidden;*/
        /*display: inline-block;*/
        /*vertical-align: top;*/
    }
    h2 {
        font-size: 5em;
        font-weight: 200;
    }
    h4 {
        font-size: 2.4em;
        font-weight: 100;
    }
    .screenShots img {
        vertical-align: top;
        height: 400px;
    }
    /*.project1 a img, .project2 a img, .project3 a img, .project4 a img {
        max-height:700px;
    }*/
}
@media screen and (min-width: 1480px) {
    .project1, .project2, .project3, .project4 {
        width: 24%;
    }
    .main-header, .icons {
        padding-left: 70px;
    }
    .main-header img {
        height: 80px;
        width: 80px;
    }
    h2 {
        font-size: 6em;
        font-weight: 200;
    }
    h4 {
        font-size: 2.5em;
        font-weight: 100;
        margin-bottom: 50px;
    }
    /*.project1 a img, .project2 a img, .project3 a img, .project4 a img {
        max-height:700px;
    }*/
}
